.mainForm{
    background-image: url(../Fotos/FondoDuki.jpg);
    color: white;
    text-align: center;
    padding: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}
