@mixin sizes ($width){
    width: 200px;
}

.mainInfo{
    background-image: url(../Fotos/DukiFondo1.jpg);
    color: white;
    padding: 10px;
    text-align: center;
    .infosobreduki{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .dukiinfo1{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki1{
        @include sizes($width)
    } 
    .dukiinfo2{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki2{
        @include sizes($width)   
    }
    .dukiinfo3{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki3{
        @include sizes($width)
    }
    .dukiinfo4{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
}
.footerINFO{
    text-align: center;
    background-color: gray;
}