.mainInfo{
    background-image: url(../Fotos/DukiFondo1.jpg);
    color: white;
    padding: 10px;
    text-align: center;
    .infosobreduki{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .dukiinfo1{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki1{
        width: 200px;
    } 
    .dukiinfo2{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki2{
        width: 200px;   
    }
    .dukiinfo3{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .fotoinfoduki3{
        width: 200px;
    }
    .dukiinfo4{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
}
.footerINFO{
    text-align: center;
    background-color: gray;
}